
.result-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  
  .result-pane {
    position: relative;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header {
      font-size: 2rem;
    }
  }
  
  .gradient-text {
    background-color: #6c36d8;
    background-image: linear-gradient(45deg, $sky-dark 50%);
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: button-animation 0.65s 0.15s ease-out forwards;
  }
  // #f2cfed, #0a4234
  .res-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-image: linear-gradient(45deg, $sky-dark 50%);
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    box-shadow: 13px 10px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.5em;
    padding: 1.5em 0;
    animation: button-animation 0.65s 0.15s ease-out forwards;
    cursor: pointer;
    transition: 0.5s;
    & span {
      font-weight: normal;
      font-size: 2em;
      text-align: center;
      margin-bottom: 0;
      margin-bottom: -0.25em;
      width: 100%;
      padding: 0 1.5em;
    }
    &:hover,
    &:hover span {
      animation: button-animation-rev 0.65s ease-out forwards;
    }
    &:hover {
      box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
      transform: translate(0.5rem, 0.5rem);
      transition: 0.5s;
    }
  }
  
  @keyframes button-animation {
    0% {
      background-position: top right;
    }
    100% {
      background-position: top left;
    }
  }
  
  @keyframes button-animation-rev {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }